body{
    background-color: black;
    color: white;
}

h1{
    font-family: "Libre Baskerville", serif;
}

p{
    font-size:20px;
}

.main-content{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.image{
    width: 100%;
    padding:10px;
    padding-top: 50px;
}